<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#/">Anfibia</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/acerca-de">Acerca de</a>
                </li>
                <li>
                    <a href="#/servicios">Servicios</a>
                </li>
                <li>
                    <a href="#/contacto">Contacta</a>
                </li>
                <li>
                    <a href="#/user/login">Area usuarios</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="about"></a>
<div class="contact-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Acerca de mí</h1>                    
                    <hr class="intro-divider">
                    <div class="container contact-form" style="padding-top:2em">
                        <div class="row">
                            <p>Soy Antonio Pajuelo, licenciado en Ciencias de la Actividad Física y del Deporte en el INEF de la Universidad Politécnica de Madrid con Maestría en Natación y ,aunque tengo diversos cursos relacionados con el mundo del deporte y la salud ( monitor de musculación, pilates, ciclismo, ciclo indoor,…), he volcado mi formación principalmente en mi pasión; la natación, deporte que practico y al que me dedico profesionalmente.</p>
                            <p>Desde hace algo más de 11 años soy entrenador del Club de Natación de Colmenar Viejo y desde hace cuatro soy también su  Director Técnico. La natación me llevó a encontrarme con el mundo del triatlón, hasta convertirme en Entrenador Superior de Triatlón que me ha abierto ciertas puertas en este mundo.</p>
                            <p>Cuando empecé a practicar triatlón mi punto fuerte lógicamente era el agua y me di cuenta que este segmento era por lo general el que más problemas daba al resto de compañeros. Su componente técnico hace inevitable tener unos ciertos conocimientos o alguien que te oriente y corrija para poder mejorar. Es por ello que he decidido compartir conocimientos que he ido adquiriendo a lo largo de estos años,consejos,  dudas que suele plantearme la gente y los problemas más comunes que nos encontramos en el agua. Espero que os sea útil. Quedo a vuestra disposición.</p>
                            <p>Un abrazo</p>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#/">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/user/login">Acceso usuarios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/acerca-de">Acerca de</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/servicios">Servicios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/contacto">Contacta</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Anfibia 2016. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#/">Anfibia</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/acerca-de">Acerca de</a>
                </li>
                <li>
                    <a href="#/servicios">Servicios</a>
                </li>
                <li>
                    <a href="#/contacto">Contacta</a>
                </li>
                <li>
                    <a href="#/user/login">Area usuarios</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>