
<div class="row">
  <div class="page-header">
    <h1>Panel administración</h1>      
  </div>
</div> 
<div class="row">
	<div class="col-sm-12">
		<a href="#/admin/users" class="btn btn-lg btn-primary btn-block">Clientes</a>
	</div>
	&nbsp;
</div> 
<div class="row">
	<div class="col-sm-12">
		<a href="#/admin/trainings" class="btn btn-lg btn-primary btn-block">Entrenamientos</a>
	</div>
	&nbsp;
</div> 
<div class="row">
	<div class="col-sm-12">
		<a href="#/admin/messages" class="btn btn-lg btn-primary btn-block">Mensajes</a>
	</div>
	&nbsp;
</div> 
<div class="row">
	<div class="col-sm-12">
		<a href="#/admin/configuration" class="btn btn-lg btn-primary btn-block">Configuración</a>
	</div>
	&nbsp;
</div>