<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#/">Anfibia</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/acerca-de">Acerca de</a>
                </li>
                <li>
                    <a href="#/servicios">Servicios</a>
                </li>
                <li>
                    <a href="#/contacto">Contacta</a>
                </li>
                <li>
                    <a href="#/user/login">Area usuarios</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="about"></a>
<div class="contact-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Servicios</h1>
                    <h3>Escoge aquella opción que más se ajuste a tus objetivos</h3>
                    <hr class="intro-divider">
                    <div class="container contact-form" style="padding-top:2em">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                                <!-- PRICE ITEM -->
                                <div class="panel price panel-red">
                                    <div class="panel-heading  text-center">
                                    <h3>Pack IRONMAN</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p class="lead" style="font-size:40px"><strong>150€ / mes</strong></p>
                                    </div>
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Entrenamientos on-site</li>
                                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Contacto telefónico 24/7</li>
                                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Planificación de temporada</li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-danger" href="mailto:testing@anfibia.com?subject=Información de plan IRONMAN&body=Indicar además nombre y numero de telefono de contacto">Solicita información</a>
                                    </div>
                                </div>
                                <!-- /PRICE ITEM -->   
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <!-- PRICE ITEM -->
                                <div class="panel price panel-blue">
                                    <div class="panel-heading arrow_box text-center">
                                    <h3>Pack DELFIN</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p class="lead" style="font-size:40px"><strong>125€ / mes</strong></p>
                                    </div>
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item"><i class="icon-ok text-info"></i> Entrenamientos on-site 4 días al mes</li>
                                        <li class="list-group-item"><i class="icon-ok text-info"></i> Contacto telefónico de 10:00 a 16:00</li>
                                        <li class="list-group-item"><i class="icon-ok text-info"></i> Planificación de temporada</li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-info" href="mailto:testing@anfibia.com?subject=Información de plan DELFIN&body=Indicar además nombre y numero de telefono de contacto">Solicita información!</a>
                                    </div>
                                </div>
                                <!-- /PRICE ITEM -->
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <!-- PRICE ITEM -->
                                <div class="panel price panel-green">
                                    <div class="panel-heading arrow_box text-center">
                                    <h3>Plan AMATEUR</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <p class="lead" style="font-size:40px"><strong>90€ / mes</strong></p>
                                    </div>
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item"><i class="icon-ok text-success"></i> Contacto por correo electrónico</li>
                                        <li class="list-group-item"><i class="icon-ok text-success"></i> Planificación de temporada</li>
                                        <li class="list-group-item"><i class="icon-ok text-success"></i> &nbsp;</li>
                                    </ul>
                                    <div class="panel-footer">
                                        <a class="btn btn-lg btn-block btn-success" href="mailto:testing@anfibia.com?subject=Información de plan AMATEUR&body=Indicar además nombre y numero de telefono de contacto">Solicita información!</a>
                                    </div>
                                </div>
                                <!-- /PRICE ITEM --> 
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#/">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/user/login">Acceso usuarios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/acerca-de">Acerca de</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/servicios">Servicios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#/contacto">Contacta</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Anfibia 2016. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>