<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>{{user.name}} {{user.surname}}</h1>      
    </div>
  </div> 
  <div class="row">
    <a href="#/admin/users" class="btn btn-default">Volver a usuarios</a>  
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row page-header">
    <p><strong>Fecha nacimiento: </strong><span></span>{{user.bday}}</p>
    <p><strong>E-mail: </strong><span></span>{{user.email}}</p>
    <p><strong>Teléfono: </strong><span></span>{{user.phone}}</p>
    <p><strong>Objetivos: </strong><span></span>{{user.objectives}}</p>
  </div>
  <div class="row">
    <p ng-show="trainingSelected == null">Selecciona el entrenamiento</p>
    <p ng-show="trainingSelected != null">Asignalo a cualquier día</p>
  </div>  
  <div class="row">
    <div class="col-md-3">
      <h2>Entrenamientos</h2>
      <div class="page-header">
        <h4>Filtro</h4>
        <select name="show-filter" ng-model="typeFilter" ng-options="type as type.name for type in typeTrainings" class="form-control">
          <option value="">Filtrar tipo entrenamiento</option>
        </select>      
        <input type="text" ng-model="textFilter" placeholder="Filtro descripción" class="form-control"/>
      </div>
      <ul style="list-style:none; padding: 0">
        <li ng-repeat="training in trainings | filter : {training_type: typeFilter._id, description : textFilter}: false">
          <div class="panel panel-{{getTrainingTypeColor(typeTrainings, training.training_type)}}" ng-click="selectTraining(training._id)">
            <div class="panel-heading">{{training.name}}</div>
            <div class="panel-content"><p style="white-space: pre; overflow-y:scroll;max-height:50px">{{training.description}}</p></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Calendario</h2>
      <p style="text-align:center">
        <span><a href="{{getPrevMonth()}}">Mes anterior</a></span>
        <strong style="margin-left:3em">{{getFormatDate(month, year)}}</strong>
        <span style="margin-left:3em"><a href="{{getNextMonth()}}">Mes siguiente</a></span>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in monthDays track by $index">
            <td ng-repeat="day in week track by $index" onMouseOver="this.style.backgroundColor='#d3d3d3'" id="{{day}}"
                                        onMouseOut="this.style.backgroundColor='#FFF'" ng-click="assignTraining(day)">
              <span class="monthDay">{{day}}</span>
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>